---
// FooterNote.astro
---

<div class="grid lg:grid-cols-3 gap-4">
  <div>
    <div class="bg-white rounded-md w-28 h-28 mx-auto mb-3"></div>
    <p class="text-center">
      A <i>Deepstambh</i> initiative
    </p>
  </div>
  <div class="col-span-2">
    <p class="text-justify">
      It is a long established fact that a reader will be distracted by
      the readable content of a page when looking at its layout. The point
      of using Lorem Ipsum is that it has a more-or-less normal
      distribution of letters, as opposed to using.
    </p>
  </div>
</div>