--- 
import SocialLinks from '../ui/SocialLinks.astro';
import FooterNote from './FooterNote.astro';
---

<footer class="bg-primary py-10 px-20">
  <div class="grid lg:grid-cols-6">
    <div class="lg:col-span-2 my-auto mb-5">
      <SocialLinks />
    </div>
    <div class="lg:col-span-4 my-auto">
      <FooterNote />
    </div>
  </div>
</footer>