---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Container from "../ui/Container.astro";
import Heading from "../ui/Heading.astro";

const siteData = await getCollection("siteData");
const siteInfo = siteData[0].data;
const introTitle = siteInfo.introTitle;
const introText = siteInfo.introText;
const introImage = siteInfo.introImage;
---

<Container>
  <Image src={introImage} alt="" width={1920} height={1080} />
  <Heading class="my-5">{introTitle}</Heading>
  <p class="md:columns-2 gap-8 text-justify leading-loose">
    {introText}
  </p>
</Container>
