--- 
import Container from "@/components/ui/Container.astro";
import OrdersChart from "@/components/ui/OrdersChart.astro";
import Layout from "@/layouts/Layout.astro";
import ProfileLayout from "@/layouts/ProfileLayout.astro";
import { getUser } from "@/lib/auth-utils";
  

const user = await getUser(Astro);

if (!user) {
  return Astro.redirect('/login');
}
---

<Layout title="Analytics Dashboard">
    <ProfileLayout title="Analytics Dashboard"> 
        <Container width="marginy"> 
          <div class="breadcrumbs text-sm mb-6">
            <ul>
              <li><a href="/admin/dashboard">Dashboard</a></li>
              <li>Analytics</li>
            </ul>
          </div>
    
          <h1 class="text-3xl font-bold mb-8">Order Analytics</h1> 
          <OrdersChart /> 
          </div> 
        </Container>
    </ProfileLayout>
</Layout>