---
import Layout from "@/layouts/Layout.astro";
import ProfileLayout from "@/layouts/ProfileLayout.astro";
import Container from "@/components/ui/Container.astro";
import OrdersChart from "@/components/ui/OrdersChart.astro";
import { getUser } from "@/lib/auth-utils";
import UserCard from "@/components/ui/UserCard.astro";

const user = await getUser(Astro);

if (!user) {
  return Astro.redirect("/login");
}

if (!user.emailVerified) {
  return Astro.redirect("/emailVerification");
}
---

<Layout title="Dashboard">
  <ProfileLayout>
    <Container width="marginy">
      <div class="max-w-8xl mt-20 lg:mt-0 mx-auto">
        <UserCard user={user} />
        <div class="mb-8">
          <OrdersChart />
        </div>
      </div>
    </Container>
  </ProfileLayout>
</Layout>
